# Promotional Assets
media/
!media/marketplace/icon.png

# Non-Production Files
src/
node_modules/
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf

# Configs
.vscode
.github/
.eslintignore
.node-version
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Docs
CHANGELOG.md
docs/