/* latin */
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amaranth Regular'), local('Amaranth-Regular'), url(https://fonts.gstatic.com/s/amaranth/v9/KtkuALODe433f0j1zMnFHdA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: var(--vscode-terminal-background);
  margin:0;
  padding:0;
  height:100%;
}

#data {
  color: var(--vscode-terminal-ansiWhite);
  font-family: var(--ttslua-console-font-family);
  font-size: calc(var(--ttslua-console-font-size) * 1px);
  padding: 0;
  padding-top: 15px;
  padding-bottom: calc((var(--ttslua-console-input-height) * 1px) + 13px);
  margin-bottom:3px;
}

#data > div {
  padding-left: 20px;
  padding-right: 20px;
}

.error {
  font-family: 'consolas, monospace';
  background-color: rgb(196, 20, 0);
  color: rgb(255, 255, 0);
  padding: 4px 20px !important;
}

#commandInput {
  position:fixed;
  bottom:0;
  width:100%;
  background:#1F1F23;
}

#commandInput > input{
  width: calc(100% - 24px);
  height: calc(var(--ttslua-console-input-height) * 1px);
  margin: 7px 6px;
  padding: 0 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #175B89;
  background-color: #3C3C3C;
  color: #CCCCCC;
  font-family: var(--ttslua-console-font-family);
  font-size: calc(var(--ttslua-console-input-height) * 0.6px);
}

#commandInput > input:focus {
  outline: none;
}
